WebAPI/Paging/Paging.Api/obj/
WebAPI/Paging/Paging.Api/bin/
WebAPI/Paging/Paging.UnitTests/obj/
WebAPI/Paging/Paging.UnitTests/bin/
WebAPI/Paging/Paging.Api/Properties/launchSettings.json
WebAPI/Paging/Paging.Api/appsettings.Development.json
WebAPI/Auth/Auth.API/obj/
WebAPI/Auth/Auth.API/bin/
WebAPI/Auth/Auth.API/Properties/launchSettings.json
WebAPI/Auth/Auth.API/appsettings.Development.json
WebAPI/HostedService/HostedService.API/obj/
WebAPI/HostedService/HostedService.API/bin/
WebAPI/HostedService/HostedService.API/Properties/launchSettings.json
WebAPI/HostedService/HostedService.API/appsettings.Development.json
WebAPI/WorkerService/WorkerService.API/obj/
WebAPI/WorkerService/WorkerService.API/bin/
WebAPI/WorkerService/WorkerService.API/Properties/launchSettings.json
WebAPI/WorkerService/WorkerService.API/appsettings.Development.json
WebAPI/WorkerService/WokerService.Core/obj/
WebAPI/WorkerService/WokerService.Core/bin/
WebAPI/WorkerService/WokerService.Core/Properties/launchSettings.json
WebAPI/WorkerService/WokerService.Core/appsettings.Development.json
WebAPI/WorkerService/WokerService.Worker/obj/
WebAPI/WorkerService/WokerService.Worker/bin/
WebAPI/WorkerService/WokerService.Worker/Properties/launchSettings.json
WebAPI/WorkerService/WokerService.Worker/appsettings.Development.json
WebAPI/ErrorHandling/ErrorHandling.API/obj/
WebAPI/ErrorHandling/ErrorHandling.API/bin/
.vscode/launch.json
.vscode/tasks.json
WebAPI/ErrorHandling/ErrorHandling.API/Properties/launchSettings.json
WebAPI/ErrorHandling/ErrorHandling.API/appsettings.Development.json
DesignPatterns/Prototype/Prototype.Core/bin/
DesignPatterns/Prototype/Prototype.Core/obj/
DesignPatterns/Prototype/Prototype.Tests/bin/
DesignPatterns/Prototype/Prototype.Tests/obj/
DesignPatterns/Strategy/Strategy.Core/bin/
DesignPatterns/Strategy/Strategy.Core/obj/
DesignPatterns/Strategy/Strategy.Tests/bin/
DesignPatterns/Strategy/Strategy.Tests/obj/
DesignPatterns/Command/Command.Core/obj/
DesignPatterns/Command/Command.Core/bin/
