WebAPI/Paging/Paging.Api/obj/
WebAPI/Paging/Paging.Api/bin/
WebAPI/Paging/Paging.UnitTests/obj/
WebAPI/Paging/Paging.UnitTests/bin/
WebAPI/Paging/Paging.Api/Properties/launchSettings.json
WebAPI/Paging/Paging.Api/appsettings.Development.json
WebAPI/Auth/Auth.API/obj/
WebAPI/Auth/Auth.API/bin/
WebAPI/Auth/Auth.API/Properties/launchSettings.json
WebAPI/Auth/Auth.API/appsettings.Development.json
WebAPI/HostedService/HostedService.API/obj/
WebAPI/HostedService/HostedService.API/bin/
WebAPI/HostedService/HostedService.API/Properties/launchSettings.json
WebAPI/HostedService/HostedService.API/appsettings.Development.json
WebAPI/WorkerService/WorkerService.API/obj/
WebAPI/WorkerService/WorkerService.API/bin/
WebAPI/WorkerService/WorkerService.API/Properties/launchSettings.json
WebAPI/WorkerService/WorkerService.API/appsettings.Development.json
.vscode/launch.json
.vscode/tasks.json